<div class="container" *ngIf="greeting$ | async as greeting">
  <p><strong>Id: </strong><span>{{greeting.id}}</span></p>
  <p><strong>Message: </strong><span>{{greeting.content}}!</span></p>
</div>
<a href="/login">login</a>
