<form [formGroup]="loginForm" (ngSubmit)="login()">
  <div *ngIf="!(isAuthenticated$ | async)">
    <input type="email" placeholder="email" required formControlName="email">
    <input type="password" placeholder="password" required formControlName="password">
    <button type="submit">Login</button>
  </div>
</form>
<div *ngIf="(isAuthenticated$ | async)">
  <app-home></app-home>
</div>
