h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 8px 0;
}

p {
    margin: 0;
}

.spacer {
    flex: 1;
}

.toolbar {
    height: 60px;
    display: flex;
    align-items: center;
    font-weight: 600;
}

.toolbar img {
    margin: 0 16px;
}

svg.material-icons {
    height: 24px;
    width: auto;
}

svg.material-icons:not(:last-child) {
    margin-right: 8px;
}

.greeting {
   text-align: center;
}
