<!DOCTYPE html>

<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Talk Python Weather API for educational purposes, built with FastAPI & Python 3">
    <meta name="author" content="Michael Kennedy">

    <title>Weather API</title>

    <link rel="shortcut icon" type="image/jpg" href="/static/img/favicon.ico"/>
    <link href="//oss.maxcdn.com/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/theme.css" rel="stylesheet">
    <link href="/static/css/docs.css" rel="stylesheet">
</head>

<body>

<div class="starter-template">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-10">
                <div>

                    {% block content %}
                    <div class="content">
                        THIS PAGE HAS NO CONTENT
                    </div>
                    {% endblock %}

                </div>
            </div>
        </div>
        <div class="row">
            <div class="links">
                <ul>
                    <li><i class="glyphicon glyphicon-cog icon-muted"></i><a
                            href="https://github.com/mikeckennedy/python-jumpstart-course-demos"
                            target="_blank">Github Project</a></li>
                    <li><i class="glyphicon glyphicon-globe icon-muted"></i><a href="https://twitter.com/talkpython"
                                                                               target="_blank">Twitter</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="copyright">
                Copyright &copy; Talk Python Training
            </div>
        </div>
    </div>
</div>

</body>
</html>
